#UnDesirableEffect .sfm_textbox
{
    padding:1px;
}
#UnDesirableEffect .sfm_textarea
{
    padding:2px;
    resize:none;
}
#UnDesirableEffect .error_strings
{
    font-family:Verdana;
    font-size:12px;
    color:#660000;
}
#UnDesirableEffect img
{
    border:0;
}
#UnDesirableEffect .loading_div
{
    background-color:transparent;
    background-image:url("images/loading.gif");
    background-position:center center;
    background-repeat:no-repeat;
}
#UnDesirableEffect input[type='submit'],input[type='reset']
{
    font:inherit;
    color:inherit;
}
#UnDesirableEffect .sfm_cr_box
{
    font-family:Verdana;
    font-size:10px;
    color:#888888;
}
#UnDesirableEffect .sfm_cr_box a
{
    color:#888888;
}
#UnDesirableEffect .sfm_slider
{
    margin:0;
    display:inline-bock;
}
#UnDesirableEffect .slider_label
{
    padding-top:5px;
    padding-left:3px;
    overflow:visible;
    display:inline-block;
}
#UnDesirableEffect .form_outer_div
{
    border:8px solid #0f559c;
    background-color:#efeffc;
}
#UnDesirableEffect .sfm_form_label
{
    background-color:transparent;
    font-family:Arial;
    font-size:12px;
    color:#000075;
}
#UnDesirableEffect .element_label
{
    background-color:transparent;
    font-family:Arial;
    font-size:12px;
    color:#000075;
}
body#sfm_UnDesirableEffect_body
{
    background-color:transparent;
    font-family:Verdana;
    font-size:19px;
    color:#0f559c;
    font-weight:bold;
    margin:0px;
}
#UnDesirableEffect .form_outer_div
{
    font-family:Verdana;
    font-size:19px;
    color:#0f559c;
    font-weight:bold;
}
#UnDesirableEffect .form_subheading
{
    background-color:#000000;
    font-family:Arial;
    font-size:20px;
    color:#000066;
    font-weight:bold;
    margin:0;
    padding:0;
}
#UnDesirableEffect .sfm_float_error_box
{
    font-family:Verdana;
    font-size:10px;
    color:#660000;
    background:none repeat scroll 0 0 #ffff66;
    border:0;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow:0 0 4px #333;
    border:1px solid #660000;
}
#UnDesirableEffect .sfm_close_box
{
    font-family:Verdana;
    font-size:10px;
    color:#660000;
}
#UnDesirableEffect .progress_box_container
{
    border:1px solid #8e8e8e;
    background-color:#cccccc;
    font-family:Arial;
    font-size:10px;
    color:#ffffff;
    text-align:center;
    vertical-align:middle;
}
#UnDesirableEffect .progress_box
{
    background-color:#333333;
    width:2px;
    float:left;
    margin:2px;
}
#UnDesirableEffect .page_heading
{
    background-color:#000000;
    font-family:Arial;
    font-size:9px;
    color:#0f559c;
    font-weight:bold;
    margin:0;
    padding:0;
}
#UnDesirableEffect .page_number
{
    background-color:transparent;
}
#UnDesirableEffect input[type='text'],input[type='password'],input[type='email'],input[type='tel'],input[type='number']
{
    background-color:#ffffff;
    border:1px solid #888888;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    height:23px;
    line-height:23px;
}
#UnDesirableEffect textarea
{
    background-color:#ffffff;
    border:1px solid #888888;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}


#UnDesirableEffect #label1_container
{
    z-index:1;
}
#UnDesirableEffect #label1
{
    text-align:center;
    font-family:Arial;
    font-size:26pt;
    font-weight:bold;
    color:#0f559c;
}
#UnDesirableEffect #label5_container
{
    z-index:6;
}
#UnDesirableEffect #label5
{
    text-align:left;
    font-family:Arial;
    font-size:17pt;
    color:#0f559c;
}
#UnDesirableEffect #Image1_container
{
    z-index:15;
}
#UnDesirableEffect #horiz_line
{
    z-index:14;
    border:none;
    border-top:10px solid #0f559c;
}
#UnDesirableEffect #label_container
{
    z-index:2;
}
#UnDesirableEffect #label
{
    text-align:left;
    font-family:Arial;
    font-size:17pt;
    font-weight:bold;
    color:#0f559c;
}
#UnDesirableEffect #DropdownList_container
{
    z-index:8;
}
#UnDesirableEffect #DropdownList
{
    float:left;
    z-index:8;
}
#UnDesirableEffect #label2_container
{
    z-index:3;
}
#UnDesirableEffect #label2
{
    text-align:left;
    font-family:Arial;
    font-size:17pt;
    font-weight:bold;
    color:#0f559c;
}
#UnDesirableEffect #Textbox_container
{
    z-index:9;
}
#UnDesirableEffect #Textbox
{
    float:left;
    z-index:9;
}
#UnDesirableEffect #label3_container
{
    z-index:4;
}
#UnDesirableEffect #label3
{
    text-align:left;
    font-family:Arial;
    font-size:17pt;
    font-weight:bold;
    color:#0f559c;
}
#UnDesirableEffect #Multiline_container
{
    z-index:10;
}
#UnDesirableEffect #Multiline
{
    height:240px;
}
#UnDesirableEffect #Multiline
{
    float:left;
    z-index:10;
}
#UnDesirableEffect #label4_container
{
    z-index:5;
}
#UnDesirableEffect #label4
{
    text-align:left;
    font-family:Arial;
    font-size:17pt;
    font-weight:bold;
    color:#0f559c;
}
#UnDesirableEffect #Multiline1_container
{
    z-index:11;
}
#UnDesirableEffect #Multiline1
{
    height:40px;
}
#UnDesirableEffect #Multiline1
{
    float:left;
    z-index:11;
}
#UnDesirableEffect #label6_container
{
    z-index:7;
}
#UnDesirableEffect #label6
{
    text-align:left;
    font-family:Arial;
    font-size:17pt;
    font-weight:bold;
    color:#0f559c;
}
#UnDesirableEffect #Email_container
{
    z-index:16;
}
#UnDesirableEffect #Email
{
    float:left;
    z-index:16;
}
#UnDesirableEffect #Reset_container
{
    z-index:12;
}
#UnDesirableEffect #UnDesirableEffect_Reset_img
{
    width:131px;
    height:69px;
    border:none;
}
#UnDesirableEffect #Submit_container
{
    z-index:13;
}
#UnDesirableEffect #UnDesirableEffect_Submit_img
{
    width:128px;
    height:71px;
    border:none;
}

#UnDesirableEffect #UnDesirableEffect_outer_div_p1
{
    width:630px;
    height:743px;
}
#UnDesirableEffect #label1_container
{
    position:absolute;
    left:171px;
    top:38px;
    width:436px;
    height:51px;
}
#UnDesirableEffect #label1
{
    position:absolute;
    left:6px;
    top:0px;
}
#UnDesirableEffect #label5_container
{
    position:absolute;
    left:176px;
    top:90px;
    width:436px;
    height:40px;
}
#UnDesirableEffect #label5
{
    position:absolute;
    left:0px;
    top:0px;
}
#UnDesirableEffect #Image1_container
{
    position:absolute;
    left:9px;
    top:1px;
    width:151px;
    height:140px;
}
#UnDesirableEffect #horiz_line
{
    position:absolute;
    left:17px;
    top:145px;
    width:598px;
    height:5px;
}
#UnDesirableEffect #label_container
{
    position:absolute;
    left:98px;
    top:175px;
    width:272px;
    height:24px;
}
#UnDesirableEffect #label
{
    position:absolute;
    left:0px;
    top:0px;
}
#UnDesirableEffect #DropdownList_container
{
    position:absolute;
    left:368px;
    top:182px;
}
#UnDesirableEffect #DropdownList
{
    width:240px;
    height:22px;
}
#UnDesirableEffect #label2_container
{
    position:absolute;
    left:186px;
    top:218px;
    width:160px;
    height:24px;
}
#UnDesirableEffect #label2
{
    position:absolute;
    left:0px;
    top:0px;
}
#UnDesirableEffect #Textbox_container
{
    position:absolute;
    left:368px;
    top:223px;
}
#UnDesirableEffect #Textbox
{
    width:234px;
    height:19px;
}
#UnDesirableEffect #label3_container
{
    position:absolute;
    left:189px;
    top:263px;
    width:160px;
    height:24px;
}
#UnDesirableEffect #label3
{
    position:absolute;
    left:0px;
    top:0px;
}
#UnDesirableEffect #Multiline_container
{
    position:absolute;
    left:25px;
    top:298px;
}
#UnDesirableEffect #Multiline
{
    width:575px;
    height:234px;
}
#UnDesirableEffect #label4_container
{
    position:absolute;
    left:99px;
    top:551px;
    width:352px;
    height:24px;
}
#UnDesirableEffect #label4
{
    position:absolute;
    left:0px;
    top:0px;
}
#UnDesirableEffect #Multiline1_container
{
    position:absolute;
    left:26px;
    top:592px;
}
#UnDesirableEffect #Multiline1
{
    width:576px;
    height:34px;
}
#UnDesirableEffect #label6_container
{
    position:absolute;
    left:100px;
    top:645px;
    width:182px;
    height:24px;
}
#UnDesirableEffect #label6
{
    position:absolute;
    left:0px;
    top:0px;
}
#UnDesirableEffect #Email_container
{
    position:absolute;
    left:24px;
    top:684px;
}
#UnDesirableEffect #Email
{
    width:274px;
    height:19px;
}
#UnDesirableEffect #Reset_container
{
    position:absolute;
    left:335px;
    top:650px;
    width:127px;
    height:65px;
}
#UnDesirableEffect #Submit_container
{
    position:absolute;
    left:476px;
    top:649px;
    width:124px;
    height:67px;
}
